header,logo1{
    position: absolute;
width: 1360px;
height: 277px;
left: 0px;
top: 0px;

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

header p{
   /* Quitanda do bairro */

background: #C5FF8A;
border: 6px solid #2C8C35;
box-sizing: border-box;
box-shadow: 0px 5.35484px 5.35484px rgba(0, 0, 0, 0.25);
border-radius: 66.9355px 0px ;

position: absolute;
width: 380px;
height: 65px;
left: 20px;
top: 3px;

font-family: 'Sail', cursive;
font-style: normal;
font-weight: normal;
font-size: 43.745px;
line-height: 50px;
text-align: center;
text-decoration-line: underline;

color: #2C8C35;

}

*{
    margin: 0;
    padding: 0;
}

button {
    position: absolute;
width: 149px;
height: 83px;
left: 1105px;
top: 0px;

background: #D2FF88;
border: 1px solid #9AD154;
box-sizing: border-box;

font-family: serif;
font-style: normal;
font-weight: 900;
font-size: 21.4286px;
line-height: 25px;

cursor: pointer;

color: #2C8C35;
}

button.entrar{
    position: absolute;
    width: 155px;
    height: 83px;
    left: 950px;
    top: 0px;
}

button.inicio{
    position: absolute;
    width: 60px;
    height: 83px;
    left: 401px;
    top: 0px;
    
    background: #D2FF88;
    border: 1px solid #D2FF88;
    box-sizing: border-box;

    font-family: serif;
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 25px;

cursor: pointer;

color: #2C8C35;

}

button.somos{
    position: absolute;
    width: 93px;
    height: 83px;
    left: 461px;
    top: 0px;
    
    background: #D2FF88;
    border: 1px solid#D2FF88;
    box-sizing: border-box;

    font-family: serif;
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 25px;

cursor: pointer;

color: #2C8C35;

}

button.parceiro{
    position: absolute;
    width: 121px;
    height: 83px;
    left: 554px;
    top: 0px;
    
    background: #D2FF88;
    border: 1px solid #D2FF88;
    box-sizing: border-box;

    font-family: serif;
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 25px;

cursor: pointer;

color: #2C8C35;

}

button.contato{
    position: absolute;
    width: 65px;
    height: 83px;
    left: 675px;
    top: 0px;
    
    background: #D2FF88;
    border: 1px solid #D2FF88;
    box-sizing: border-box;

    font-family: serif;
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 25px;

cursor: pointer;

color: #2C8C35;

}   
  #txtBusca{
    float:left;
        background-color:transparent;
        padding-left:5px;
        font-style:italic;
        font-size:18px;
        border:none;
        height:50px;
        width:770px;
        left: 300px;
top: 115px;
        
  }
   
  .botao {
    background-color:rgb(255, 255, 255);
    border:solid 2px rgb(255, 255, 255);
    border-radius: 0px 10px 10px 0px;
    -moz-outline:0;
    cursor:pointer;
    position: absolute;
    width: 55px;
    height: 54px;
    left: 715px;
    top: -2px;
    box-shadow: 0px 5.35484px 5.35484px rgba(0, 0, 0, 0.25);
}

   
  #divBusca img{
    position: absolute;
    width: 27px;
    height: 21px;
    left: 725px;
    top: 13px;
  }

  #divBusca{
    position: absolute;
    background-color:rgb(255, 255, 255);
    border:solid 2px rgb(255, 255, 255);
    border-radius:10px;
    width:719px;
    height:50px;
    left: 300px;
top: 115px;
box-shadow: 0px 5.35484px 5.35484px rgba(0, 0, 0, 0.25);
  }

 .carrinho{
     position: absolute;
    width: 70px;
    height: 82px;
    left: 1260px;
    top: 0px;
    background: #D2FF88;
    border: 0px;
    cursor: pointer;
 }

.flaticon-shopping-cart{
    position: absolute;
    width: 50px;
    height: 0px;
    left: 1260px;
    top: 30px;
    color: #2C8C35;
}

        a,img {
            border: none;
         margin: 0;
        padding: 0;}
        .trs {-webkit-transition:all ease-out 0.5s;
            -moz-transition:all ease-out 0.5s;
            -o-transition:all ease-out 0.5s;
            -ms-transition:all ease-out 0.5s;
            transition:all ease-out 0.5s;
        opacity: 0;}  
        #slider { top: 300px;}
        #slider a { position: absolute; top: 0; left: 0; opacity: 0;filter:alpha(opacity=0);}
        .ativo {opacity: 1!important; filter:alpha(opacity=100)!important;}

        .img{
            
            width: 1400px;
        }
        
        /*controladores*/
        span {background: #0190EE; cursor: pointer;filter:alpha(opacity=0); position: absolute; bottom: 40%; width: 43px; height: 43px; z-index: 5;}
        .next {right: 10px;}
        .next:before,.next:after {left: 21px;}
        .next:before {
            -webkit-transform: rotate(-42deg);
            top: 5px;
        }
        .next:after {
            -webkit-transform: rotate(-132deg);
            top: 19px;
        }
        .next:before,.next:after,.prev:before,.prev:after {content: "";
            height: 20px;
            background: #fff;
            width: 1px;
            position: absolute;
        }
        .prev {left: 10px;}
        .prev:before,.prev:after {left: 18px;}
        .prev:before {
            -webkit-transform: rotate(42deg);
            top: 5px;
        }
        .prev:after {
            -webkit-transform: rotate(132deg);
            top: 19px;
        }
        
        figure:hover span {opacity: 0.76;filter:alpha(opacity=76);}
            figure {
                top: 210px;
                left: 0px;
            max-width: 1400px;
            height: 354px;
            position: relative;
            overflow: hidden;
            margin: 50px auto;
        }
        
        figcaption {padding-left: 20px;
            color: #fff;
             font-family: "Kaushan Script","Lato","arial"; 
             font-size: 22px; 
             background: rgba(1, 144, 238, 0.76); 
             width: 100%;
              position: absolute;
               bottom: 0
               ; left: 0;
                line-height: 55px;
                 height: 55px;
                  z-index: 5}